extends layout
block content
  if status != 'ninguno'
    if res
      .genero
        h3 RESULTADOS PARA #{word}
      .grilla        
        each rec in res
          .content-scroll              
              .content-img
                img(src= rec.medium_cover_image, alt= rec.title_long)
                |             
                .descripcion
                  h4= rec.title.length < 23 ? rec.title : rec.title.substring(0,30)+'...'
                  |                 
                  p(class='year_score') #{rec.year} #[span(class='mpa_rating') #{rec.mpa_rating}] #[span(class='descpuntaje') #{rec.rating}]
                  a(href="/pelicula/#{rec.id}/#{rec.slug}" class="info")
                    i(class="fa fa-arrow-circle-down fa-4x moreinfo")
                  if rec.genres[1]
                    if genres[rec.genres[0].toLowerCase()]
                      p(class='generos') #[a(href="/filter/"+rec.genres[0].toLowerCase()) #{genres[rec.genres[0].toLowerCase()].genero.toLowerCase()}]/#[a(href="/filter/"+rec.genres[1].toLowerCase()) #{genres[rec.genres[1].toLowerCase()].genero.toLowerCase()}]
                    else
                      p(class='generos') #[a(href="/filter/"+rec.genres[0].toLowerCase()) #{rec.genres[0].toLowerCase()}]/#[a(href="/filter/"+rec.genres[1].toLowerCase()) #{rec.genres[1].toLowerCase()}]
                  else 
                    if genres[rec.genres[0].toLowerCase()]                 
                      p(class='generos') #[a(href="/filter/"+rec.genres[0].toLowerCase()) #{genres[rec.genres[0].toLowerCase()].genero.toLowerCase()}]
                    else
                      p(class='generos') #[a(href="/filter/"+rec.genres[0].toLowerCase()) #{rec.genres[0].toLowerCase()}] 
                  p(id="list-add-#{rec.id}" class="list-add" onclick="addRemove(this)")
  else
    .genero
        h3 NO SE ENCONTRARON RESULTADOS PARA #{word}