extends layout
block content
    .contenedor
      h1
        a(href="http://www.imdb.com/title/#{res.imdb_code}" target="_blank")= res.title_long
      |   
      .row-fluid.desc
        .span3
          .content-img
            img(src="#{res.images.medium_cover_image}", alt="#{res.title_long}")
          |         
          a.btn.btn-inverse(class="list-add" onclick="addRemove(this)" id="list-add-#{res.id}")
        |     
        .span9
          .infotitulo
            .center
              iframe(width='70%', height='315px', src="//www.youtube.com/embed/#{res.yt_trailer_code}", frameborder='0', allowfullscreen='')
            |         
            .puntaje
              span= res.rating
              |           
              a.btn.btn-inverse(href="http://www.imdb.com/title/#{res.imdb_code}" target="_blank") PUNTUAR
            |         
            .sinopsis
              if res.tmdb
                p SINOPSIS: #{res.tmdb.overview}
              else
                p SINOPSIS: #{res.description_full}
            |         
            .direccion
              p
                | DIRECCION:
                each dir in res.directors 
                  a(href="/imdbcode/#{dir.imdb_code}/"+dir.name.toLowerCase().replace(" ", "-")) - #{dir.name}
            |         
            .reparto
              p
                | REPARTO: 
                each cast in res.actors
                  a(href="/imdbcode/#{cast.imdb_code}/"+cast.name.toLowerCase().replace(" ", "-")) - #{cast.name}
            |         
            .gen
              if res.genres[1]
                if genres[res.genres[0].toLowerCase()]
                  p GENEROS: #[a(href="/filter/"+res.genres[0].toLowerCase()) #{genres[res.genres[0].toLowerCase()].genero.toLowerCase()}]/#[a(href="/filter/"+res.genres[1].toLowerCase()) #{genres[res.genres[1].toLowerCase()].genero.toLowerCase()}]
                else
                  p GENERO: #[a(href="/filter/"+res.genres[0].toLowerCase()) #{res.genres[0].toLowerCase()}]/#[a(href="/filter/"+res.genres[1].toLowerCase()) #{res.genres[1].toLowerCase()}]
              else 
                if genres[res.genres[0].toLowerCase()]                 
                  p GENEROS: #[a(href="/filter/"+res.genres[0].toLowerCase()) #{genres[res.genres[0].toLowerCase()].genero.toLowerCase()}]
                else
                  p GENERO: #[a(href="/filter/"+res.genres[0].toLowerCase()) #{res.genres[0].toLowerCase()}]
            |         
            .duracion
              p DURACION: #{res.runtime} Min
          |       
          .descarga
            .innerdescarga
              each torrent in res.torrents
                h3 Calidad: #{torrent.quality}
                table
                  tr
                    td
                      | TORRENT
                    |               
                    td
                      a.btn.btn-inverse(href="#{torrent.url}") DESCARGA
                  |             
                  tr
                    td
                      | MAGNET
                    |               
                    td
                      a.btn.btn-inverse(href="magnet:?xt=urn:btih:#{torrent.hash}") DESCARGA
                  |             
                  tr
                    td
                      | HASH
                    |               
                    td
                      | #{torrent.hash}
                  |             
                  tr
                    td
                      | SUBTITULOS
                    |               
                    td
                      a.btn.btn-inverse(href="http://www.yifysubtitles.com/movie-imdb/#{res.imdb_code}" target="_blank") DESCARGA
                  |             
                  tr
                    td
                      | SEEDS
                    |               
                    td
                      | #{torrent.seeds}
                  |             
                  tr
                    td
                      | TAMA&Ntilde;O
                    |               
                    td
                      | #{torrent.size}
                  |             
